body {
    padding-top: 50px;
}

.navbar {
    background-image: url("/img/logo.gif");
    background-repeat: no-repeat;
    background-position: 3px 3px;
}
.combine {
    padding: 40px 100px;
    text-align: center;
}

.combine form {
    text-align: left;
    padding-bottom: 30px;
}

.combine .report {
    text-align:left;
}

.combine .report td.name {
    white-space: nowrap;
}